<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>  
    <section name="ApplicationSettings" type="System.Configuration.NameValueSectionHandler"/>      
  </configSections>    

   <ApplicationSettings>
      <add key="URL_Integracao" value="https://api.cpfcnpj.com.br/" />
      <add key="Token" value="5ae973d7a997af13f0aaf2bf60e65803/" />
      <add key="Pacote_Cpf" value="9/" />
      <add key="Pacote_Cnpj" value="6/" />
   </ApplicationSettings>
</configuration>