<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>  
    <section name="ApplicationSettings" type="System.Configuration.NameValueSectionHandler"/>      
  </configSections>    

    <ApplicationSettings>
      <add key="phoneNumber_to_sms" value= <> />
      <add key="phoneNumber_to_whats" value= <> />
      <add key="accountSid" value= <> />
      <add key="authToken" value= <> />
      <add key="codPhone" value="+55" />
   </ApplicationSettings>

</configuration>